{% extends '_helpers/_base.html' %}
{% load static %}

{% block body %}
    <div class="about-section" style="font-size: 1.2em">
        <h1>About Us</h1>
        <p>We are a company of market enthusiasts who strive to improve our market understanding.</p>
        <p><span style="font-size: 1.3em;"><i><u>Our goal</u> </i></span>is to help people to get a better and more accurate understanding of market bias via our strategy! </p>
    </div>

    <h2 style="text-align:center">Our Team</h2>
    <div class="row-about-us">
        <div class="column">
            <div class="card">
                <img src="{% static '/img/vasya_avatar.jpg' %}" alt="Vasya" style="width:auto">
                <div class="container" style="color: black; width: auto;">
                    <h2>Vasyl Gutnik</h2>
                    <p class="title">CEO & Founder</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>vasyabest@cock.com</p>
                    <p>
                        <button class="button">Contact</button>
                    </p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="{% static '/img/bohdan_avatar.jpg' %}" alt="Bohdan" style="width:auto">
                <div class="container" style="color: black; width: auto">
                    <h2>Bohdan Zavalii</h2>
                    <p class="title">Art Director</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>bohdan@cock.com</p>
                    <p>
                        <button class="button">Contact</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
