{% load static %}

<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" id="headerLogo" href="{% url 'index' %}">
            <img src="{% static '/img/black_logo-removebg-preview.png' %}" alt="Logo" width="100" height="90"
                 id="headerText">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="color: white;">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        MORE
                    </a>
                    <ul class="dropdown-menu" id="moreDropdown">
                        <li><a class="dropdown-item" href="/clients/about_us">ABOUT</a></li>
                        <li><a class="dropdown-item" href="#">CONTACT</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <div class="dropdown_icons">
                            <li><a class="dropdown-item" href="https://www.youtube.com/channel/UC5deCaNgfUgQJ2tgvIE_bKA"
                                   target="_blank"><img src="{% static '/icons/youtube.svg' %}" alt="YT" width="20"
                                                        height="auto"></a></li>
                            <li><a class="dropdown-item" href="https://twitter.com/zavbog_LQ"
                                   target="_blank"><img src="{% static '/icons/twitter.svg' %}" alt="TW" width="20"
                                                        height="auto"></a></li>
                            <li><a class="dropdown-item" href="https://t.me/liqu_id_us"
                                   target="_blank"><img src="{% static '/icons/telegram.svg' %}" alt="TG" width="20"
                                                        height="auto"></a></li>
                        </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        PRODUCTS
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/blogs/">Daily Blog</a></li>
                        <li><a class="dropdown-item" href="#">Weekly Updates</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#"><i>LIQUIDUS University</i></a></li>
                    </ul>
                </li>
            </ul>
            <div class="d-flex justify-content-center align-items-center"
                 id="userGreetingDiv">
                {% if user.is_authenticated %}
{#                    <div id="clientGreeting">Hi, <i>{{ user.username }}!</i></div>#}
                    <div id="clientGreeting">ACCOUNT</div>
                    <div>
                        <a href="{% url 'logout' %}" id="clientGreeting">LOGOUT</a></div>
                {% else %}
                    <div id="login-clientGreeting-sign-up">
                        <a href="{% url 'login' %}" id="loginOrSignup"><i>LOG IN</i></a>
                        <span style="color: grey"> or </span>
                        <a href="{% url 'clients:signup' %}" id="loginOrSignup"><i>SIGN UP</i></a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</nav>