{% extends '_helpers/_base.html' %}

{% block body %}
    <div id="deleteConfirm">
        <h2>Delete Blog - <i><u>{{ post.title }}</u></i></h2>

        <p class="del-conf-text">Are you sure you want to delete this
            blog?</p>

        <form action="" method="post">
            {% csrf_token %}
            <input type="submit" class="btn btn-danger" value="Delete">
            <button class="btn btn-primary"><a href="{% url 'blogs:show_all' %}" style="color: white;">Back to the blogs page</a></button>
        </form>
    </div>
{% endblock %}


