{% extends '_helpers/_base.html' %}
{% load crispy_forms_tags %}

{% block body %}
    <a href="{% url 'blogs:show_all' %}" class="btn btn-primary" style="color: white;">&#8592 Back to the
        blogs page</a>
    <div class="container">
        <div class="row" id="detailBlogContainer">
            <div class="col-md-8 card mb-4  mt-3 left  top">
                <div class="card-body">
                    <h1 style="color: darkolivegreen;">{% block title %} {{ post.title }} {% endblock title %}</h1>
                    <p class=" text-muted">{{ post.author }} | {{ post.created_on }}</p>
                    <span class="card-text text-muted h6">Category: </span><a
                    href="{% url 'blogs:category' cats=post.blog_category|slugify %}" target="_blank"
                    class="card-text text-muted h6"><i>{{ post.blog_category }}</i></a>
                    <p></p>
                    <p class="card-text">{{ post.content | safe }}</p>
                    <br>
                    <!--  Adding likes to the post  -->
                    <form action="{% url 'blogs:like_post' pk=post.pk %}" method="post" style="float: right">
                        {% csrf_token %}
                        {% if liked %}
                            <button type="submit" name="post_id" value="{{ post.id }}"
                                    class="btn btn-outline-danger btn-sm">👎
                            </button>
                        {% else %}
                            <button type="submit" name="post_id" value="{{ post.id }}"
                                    class="btn btn-outline-info btn-sm">👍
                            </button>
                        {% endif %} - <span>{{ total_likes }} Like{{ total_likes|pluralize }}</span>
                    </form>
                    <!--  End of code  -->
                </div>
            </div>
            <!-- Comments section -->
            <div class="col-md-8 card mb-4  mt-3 ">
                <div class="card-body">
                    {% with comments.count as total_comments %}
                        <h3 class="comments-titles">
                            {{ total_comments }} comment{{ total_comments|pluralize }}
                        </h3>
                    {% endwith %}

                    {% for comment in comments %}
                        <div class="comments">
                            <p id="commentAuthor">
                                {{ comment.name }} |
                                <span class=" text-muted font-weight-normal" style="font-weight: normal">
                                    {{ comment.created_on }}
                                </span>
                            </p>
                            {{ comment.body | linebreaks }}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <!-- End of comments section -->
            <div class="col-md-8 card mb-4  mt-3 ">
                <div class="card-body">
                    {% if new_comment %}
                        <div class="alert alert-success" role="alert">
                            Your comment is awaiting moderation
                        </div>
                    {% else %}
                        <h3 class="comments-titles">Leave a comment</h3>
                        <form method="post" style="margin-top: 1.3em;">
                            {% csrf_token %}
                            {{ comment_form | crispy }}
                            <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}