{% extends '_helpers/_base.html' %}
{% load crispy_forms_tags %}

{% block body %}
    <button class="btn btn-primary"><a href="{% url 'blogs:show_all' %}" style="color: white;">&#8592 Back to the
        blogs page</a></button>
    <div class="container">
        <div class="row" id="detailBlogContainer">
            <div class="col-md-8 card mb-4  mt-3 left  top">
                <div class="card-body">
                    <h1 style="color: darkolivegreen;">{% block title %} {{ post.title }} {% endblock title %}</h1>
                    <p class=" text-muted">{{ post.author }} | {{ post.created_on }}</p>
                    <span class="card-text text-muted h6">Category: </span><a
                    href="{% url 'blogs:category' cats=post.blog_category|slugify %}" target="_blank"
                    class="card-text text-muted h6"><i>{{ post.blog_category }}</i></a>
                    <p></p>
                    <p class="card-text">{{ post.content | safe }}</p>
                </div>
            </div>

            <div class="col-md-8 card mb-4  mt-3 ">
                <div class="card-body">
                    <!-- comments -->
                    {#                    <h3 class="comments-titles">{{ comments.count }}#}
                    {#                        comments</h3>#}
                    {% with comments.count as total_comments %}
                        <h3 class="comments-titles">
                            {{ total_comments }} comment{{ total_comments|pluralize }}
                        </h3>
                    {% endwith %}

                    {% for comment in comments %}
                        <div class="comments">
                            <p id="commentAuthor">
                                {{ comment.name }} |
                                <span class=" text-muted font-weight-normal" style="font-weight: normal">
              {{ comment.created_on }}
            </span>
                            </p>
                            {{ comment.body | linebreaks }}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-8 card mb-4  mt-3 ">
                <div class="card-body">
                    {% if new_comment %}
                        <div class="alert alert-success" role="alert">
                            Your comment is awaiting moderation
                        </div>
                    {% else %}
                        <h3 class="comments-titles">Leave a comment</h3>
                        <form method="post" style="margin-top: 1.3em;">
                            {% csrf_token %}
                            {{ comment_form | crispy }}
                            <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}